@model Ekip2.Presentation.Areas.Admin.Models.CompanyVMs.CompanyCreateVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h1 class="custom-page-title">@Localizer["CreateNewCompany"]</h1>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="custom-card">
                <form asp-action="Create" class="custom-form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="custom-form-group">
                        <label asp-for="Name" class="control-label">@Localizer["CompanyName"]</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="custom-form-group">
                        <label asp-for="Address" class="control-label">@Localizer["Address"]</label>
                        <textarea asp-for="Address" class="form-control"></textarea>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="custom-form-group">
                        <label asp-for="PhoneNumber" class="control-label">@Localizer["PhoneNumber"]</label>
                        <input asp-for="PhoneNumber" class="form-control" oninput="validatePhoneNumber(this)"  />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="custom-form-group text-center">
                        <input type="submit" value="@Localizer["Create"]" class="custom-btn custom-btn-create" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="text-center mt-3">
        <a asp-action="Index" class="custom-btn custom-btn-update">@Localizer["BackToList"]</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<style>
    body {
        background: #eee;
    }

    .container {
        margin-top: 50px;
    }

    .custom-page-title {
        color: #8E24AA;
        text-align: center;
        margin-bottom: 30px;
        font-size: 2em;
    }

    .custom-card {
        border: none;
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        background-color: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        cursor: pointer;
    }

        .custom-card:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 4px;
            height: 100%;
            background-color: #E1BEE7;
            transform: scaleY(1);
            transition: all 0.5s;
            transform-origin: bottom;
        }

        .custom-card:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 4px;
            height: 100%;
            background-color: #8E24AA;
            transform: scaleY(0);
            transition: all 0.5s;
            transform-origin: bottom;
        }

        .custom-card:hover::after {
            transform: scaleY(1);
        }

    .custom-form {
        background-color: white;
        border: none;
        border-radius: 8px;
        padding: 20px;
    }

    .custom-form-group {
        margin-bottom: 15px;
    }

    .custom-btn {
        text-decoration: none;
        color: white;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 25px;
        display: inline-block;
        transition: background-color 0.3s ease;
    }

    .custom-btn-create {
        background-color: #8E24AA;
    }

        .custom-btn-create:hover {
            background-color: #6D1A9D;
        }

    .custom-btn-update {
        background-color: #8E24AA;
    }

        .custom-btn-update:hover {
            background-color: #6D1A9D;
        }


</style>

<script>
    function validatePhoneNumber(input) {
        input.value = input.value.replace(/[^0-9]/g,'');
    }
</script>
