@model Ekip2.Presentation.Areas.Manager.Models.LeaveTypeVMs.LeaveTypeUpdateVM

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="custom-page-title">@Localizer["UpdateLeaveType"]</h1>
            <form asp-action="Update" method="post" class="form-custom">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Type" class="control-label">@Localizer["Type"]</label>
                    <input asp-for="Type" class="form-control" />
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="control-label">@Localizer["Description"]</label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">@Localizer["Save"]</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container mt-3 text-center">
    <a asp-action="Index" class="btn btn-secondary">@Localizer["BackToList"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<style>
    body {
        background: #eee;
    }

    .custom-page-title {
        color: #8E24AA;
        text-align: center;
        margin-bottom: 30px;
        font-size: 2em;
    }

    .container {
        margin-top: 50px;
    }

    .form-custom {
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .control-label {
        font-weight: bold;
        color: #8E24AA;
    }

    .form-control {
        width: 100%;
        padding: 8px;
        font-size: 1em;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .btn {
        text-decoration: none;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 25px;
        display: inline-block;
        transition: background-color 0.3s ease;
    }

    .btn-primary {
        background-color: #8E24AA;
        border: 1px solid #8E24AA;
        color: white;
    }

        .btn-primary:hover {
            background-color: #6D1A9D;
            border: 1px solid #6D1A9D;
        }

    .btn-secondary {
        background-color: #6C757D;
        border: 1px solid #6C757D;
        color: white;
    }

        .btn-secondary:hover {
            background-color: #5A6369;
            border: 1px solid #5A6369;
        }
</style>